@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    background-image: linear-gradient(to right bottom, #051937, #002667, #00309a, #0036cb, #2a33fb);
    color: #fff;
    overflow-y: auto; /* Enable vertical scrolling */
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Ensure content starts at the top */
}

.container {
    width: 30%;
    margin: 0 auto;
    margin-top: 5%;
}

.container h1 {
    text-align: center;
    font-size: 52px;
}

.container p {
    text-align: center;
}

.social-container {
    width: 40%;
    margin: 0 auto;
    text-align: center;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    display: none;
}

.social-container i {
    color: #fff;
    font-size: 40px;
}

.card {
    border: 1px solid rgb(165, 163, 163, 0.3);
    padding: 4rem 3rem;
    margin-top: 10px;
    border-radius: 30px;
    box-shadow: 10px 10px 14px 1px rgba(00,00,00,0.2);
    background: #051937;
    letter-spacing: 0.094em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: auto; /* Control maximum height for the card */
    overflow: auto; /* Allow scrolling within the card */
}

label {
    display: block;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

input {
    border: 1px solid #333;
    border-radius: 50px;
    color: #333;
    font-size: 32px;
    margin: 0 0 20px;
    padding: .5rem 1rem;
    width: 100%;
    cursor: pointer;
    text-align: center;
}

button {
    width: 100%;
    background: rgb(230, 163, 20);
    border-radius: 50px;
    color: #333;
    font-size: 26px;
    padding: 0.6rem;
    outline: none;
    border: none;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    transition: all .4s ease-in;
    display: none;
}

button:hover {
    background: rgb(31, 197, 9);
    color: #fff;
    cursor: pointer;
}

.alert.alert-danger {
    padding: 0.8rem;
    background-color: crimson;
    margin: 0.8rem;
    font-size: 14px;
}

/* Styling the QR code to be responsive and prevent overflow */
.gcash-qr {
    max-width: 100%;
    height: auto;
    max-height: auto; /* Set max height for the QR code */
    vertical-align: bottom;
    margin-top: 20px;
    border-radius: 5px; /* Adding corner radius */
}

/* Container for QR code to handle alignment */
.qr-container {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Align to the top of the container */
    width: 100%;
    overflow: hidden;
}

@media only screen and (max-device-width: 600px) {
    .container {
        width: 100% !important;
    }

    .card {
        margin-left: 5px !important;
        margin-right: 5px !important;
    }

    .social-container {
        width: 80% !important;
    }
}

